* {
    margin: 0;
    padding: 0;
}

/* google font */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* common style */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.background-secondary{
    background: rgb(255, 248, 243);
}
.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-30 {
    margin-right: 30px;
}

.pl-20{
    padding-left: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}
.mr-20{
    margin-right: 20px;
}

.center {
    text-align: center;
}

h3 {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

h4 {
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: left;
}

h5 {
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
}

h6 {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    margin: 20px 0;
}

.p-b {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.p-s {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.t-l {
    text-align: center;
}

.text-primary {
    color: mediumseagreen;
}

.Dark-1 {
    color: #181818;
}

.Dark-2 {
    color: #474747;
}

.Dark-3 {
    color: #757575;
}

.btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    /* border: none; */
    border-radius: 5px;
    background: mediumseagreen;
}

.btn-contact {
    color: mediumseagreen;
    font-size: 20px;
    font-weight: 700;
    /* border: none; */
    border: 2px solid mediumseagreen;
    border-radius: 5px;
    /* background: mediumseagreen; */
}

.btn-b {
    width: 200px;
    height: 64px;
}

.btn-s {
    width: 150px;
    height: 64px;
}

.summary-content-w{
    width: 510px;
}

.border-top{
    border-top: 1px solid black;
    margin-top: 30px;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}

nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

nav li a:hover {
    font-weight: bold;
    /* border: 1px solid mediumseagreen; */
    /* border-radius: 5px; */
    /* padding: 10px */
}


/* header background image */
.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    border: 1px solid black;
}

/* banner style */
.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
}

.banner-content {
    max-width: 650px;
    margin-left: 290px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-profile-picture {
    width: 580px;
    height: 670px;
    margin-right: 60px;
    /* margin-top: 50px; */
    border: 1px solid black;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About me section style */
.about-me-section {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 1140px;
    height: 550px;
    margin: 0 auto;
    align-items: center;
    margin-top: 130px;
}

.about-me-container {
    padding: 130px 150px;
}

.info-container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

/* what I do section */
.what-I-do-section {
    margin-top: 130px;
    margin-bottom: 130px;
}

.what-I-do-description {
    padding: 0px 150px;
}

.card {
    width: 265px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
}

.card-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

/* A summary of My Resume */
.summary-resume-container{
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-top: 80px;
}

/* lets-connect-section */
.lets-connect-section-container{
    margin-top: 110px;
    display: flex;
    gap: 120px;
    /* justify-content: center; */
    padding: 130px 0;
}

.lets-connect-media{
    /* width: 560px; */
}

.lets-connect-form form input{
    display: block;
}