*{
    margin: 0;
    padding: 0;
}
/* google font */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* common style */
.mt-20{
    margin-top: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.text-primary {
    color: mediumseagreen;
}

.Dark-1 {
    color: #181818;
}
.Dark-2 {
    color: #474747;
}
.Dark-3 {
    color: #757575;
}

.btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    /* border: none; */
    border-radius: 5px;
    background: mediumseagreen;
}
.btn-contact {
    color: mediumseagreen;
    font-size: 20px;
    font-weight: 700;
    /* border: none; */
    border: 2px solid mediumseagreen;
    border-radius: 5px;
    /* background: mediumseagreen; */
}

.btn-b {
    width: 200px;
    height: 64px;
}
.btn-s {
    width: 150px;
    height: 64px;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}

nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

nav li a:hover {
    font-weight: bold;
    /* border: 1px solid mediumseagreen; */
    /* border-radius: 5px; */
    /* padding: 10px */
}


/* header background image */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    border: 1px solid black;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
}

.banner-content{
    max-width: 650px;
    margin-left: 290px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-profile-picture{
    width: 580px;
    height: 670px;
    margin-right: 60px;
    /* margin-top: 50px; */
    border: 1px solid black;;
}